h1{
    margin-top: 8px;
}

#butt{
    margin-top: 6px;
}

.card {
	min-width: 300px;
	margin: 5px;
	justify-content: center;
	border: 3px darkgrey solid;
}

.container {
	flex-wrap: wrap;
	justify-content: center;
}
